#flex_container{
            border: 1px solid black;
            background-color: yellow;
            width: 70%;
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            flex-direction: row;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            flex-wrap: nowrap;
            flex-wrap: wrap-reverse;
            flex-flow: row wrap;
            justify-content: center;
            justify-content: flex-start;
            justify-content: flex-end;
            justify-content: space-around;
            justify-content: space-between;
            align-items: center;
            align-items: flex-start;
            flex-wrap: wrap;
  align-content: space-between;
  text-align: center;
}
#flex_container div{
            background-color: red;
            width: 150px;
            height:150px;
            margin: 5px;
            font-size: 30px;
            padding: 20px;
            

}