#grid-container{


                display: grid;
                width: 70vw;
                height:500px;
                margin: 0px auto;
                margin-top: 100px;
                grid-template-rows: 2;
                grid-auto-columns: 4;
                grid-template: 
                   "area1 area1 area1 area2"
                   "area3 area3 area4 area2"
                   



}

.grid-item:nth-child(1){

  grid-area: area1;
  background-color: blue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin:5px;   

}
.grid-item:nth-child(2){

    grid-area: area2;
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  .grid-item:nth-child(3){

    grid-area: area3;
    background-color: pink;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  .grid-item:nth-child(4){

    grid-area: area4;
    background-color: yellow;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  