#main_cont{

            display: flex;
            width: 70vw;
            height: auto;
            border: 1px solid black;
            align-content: center;
            align-items: center;
             justify-content: center;

}

.flex_items{

            width: 100PX;
            height: 100PX;
            background-color: RED;
            margin: 5px;
}