#a{
    width:500px;
    height:500px ;
    border:1px  solid red; 
    margin:0PX auto;
    position: relative;
}
#a #b{
    width:100px;
    height:100px ;
    background-color: pink; 
    position: absolute;
    left:-10px;
    

}







/*
.c{
    width:200px;
    height:200px ;
    background-color:orange;
     
}

*/