body{
        margin:0px auto;
}
#road{
        width:100vw;
        height: 150px;
        margin-top: 200px; 
}

#my_car{
            width: 400px;
            height: 220px;
            float:right;
            position: relative;
            top: -190px;
            right:0px;
            transition: right 5s linear 0s;
                        
            
             
}

#wheel_1{
            position: relative;
            float: right;
            top: -74px;
            width: 70px;
            height: 70px;
            right: -125px;
            transform: rotate(0deg);
            transition: right 5s linear 0s, transform 5s linear 0s;


}

#wheel_2{
    position: relative;
    float: right;
    top: -75px;
    width: 70px;
    height: 70px;
    right: -420px;
    transform: rotate(0deg);
    transition: right 5s linear 0s, transform 5s linear 0s ;
}


#road:hover ~ #my_car{
                       right:800px;
}

#road:hover ~ #wheel_1{
                                transform: rotate(-360deg);
                                right: 675px;
} 

#road:hover ~ #wheel_2{
    transform: rotate(-360deg);
    right: 380px;
} 
