#a{
    width: 1320px;
    height: 620px;
    border: 5px solid black;
    margin: 0px auto;
}
#b{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-color: aqua;
}
#c{
    width: 670px;
    height: 200px;
     border: 1px solid black; 
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: red;
    box-shadow: 5px 5px  yellow;
}
#d{
    width: 670px;
    height: 385px;
    border: 2px solid black;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: darkblue;
}